.sort-btn-group {
    margin: 1px 3px 3px 12px;
}
.priority-row {
    margin-left: 3px;
}
.progress-bar {
    position: absolute;
    top: 30%;
    width: 100%;
    height: 70%;
}
.range-left {
    float: left;
    margin-bottom: 0rem;
}
.range-right {
    float: right;
    margin-bottom: 0rem;
}
range-clear {
    clear: both;
}