.add-view {
    padding-bottom: 5px;
    border-bottom: solid #13133c;
}
.btn-user-submit {
    width: 72px;
    margin-bottom: 1px;
}
ul.list-group {
    width: 70%;
    float: left;
}

.list-view-action-btns {
    width: 25%;
    float: right;
}
.list-view-container {
    height: 180px;
    border-bottom: dotted darkgrey;
    margin-top: 5px;
}

.btn-secondary {
margin: 3px;
}
